body {
    margin: 0;
    padding: 0;
}

.lora-400 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.fredoka-300 {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth"100;
}

.content-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    max-width: 700px;
    margin: 40px auto;
    box-sizing: border-box;
}

#instructions-section {
    text-align: left;
    flex: 1;
}

#instructions-section h1 {
    font-size: 1.25rem;
}

#drop_zone {
    border: 2px dashed #666;
    border-radius: 10px;
    padding: 20px;
    background-color: #eee;
    color: #495057;
    text-align: left;
    width: 300px;
}

#drop_zone input {
    margin-top: 10px;
}

button {
    background: linear-gradient(to left, #eee, #fff);
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}
button i {
    color: brown;
}

label i {
    color: brown;
}

/* Responsive design */
@media (max-width: 800px) {
    .content-wrapper {
        flex-direction: column;
        gap: 10px;
        padding-left: 20px;
    }

    #instructions-section,
    #drop_zone {
        flex: none;
        width: 90%;
    }

    #instructions-section p {
        font-size: 0.9rem;
    }

    #drop_zone {
        padding: 15px;
        font-size: 0.9rem;
    }
}

#image_count {
    clear: both;
    padding-left: 10px;
}

#image_container {
    clear: both;
    padding-left: 10px;
}

.hidden-paragraph {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, visibility 0.5s ease, opacity 0.5s ease;
}

.hidden-paragraph.show {
    max-height: 500px; /* Adjust this based on your content */
    visibility: visible;
    opacity: 1;
}